#drawer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidenav{
  width: 50%;
}
.menuItem{
  background-color: #2C2C2C;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.menuTitel{
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidenav{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.messageBox{
  margin: 20px;
  background-color: #402b2e;
  color: #FC4D44;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}
.filesNoDivider{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.files{
  margin: 0;
  padding: 0;
}
#fileName{
  margin-left: 10px;
}
.grid-container {
  margin: 20px;
  height: 100%;
}
.dropdownTileTemp{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.drawer-content{
  height: 100%;
  background-color: #262629;
}
.example-container{
  height: 100%;
}
.tempDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}
#tempValue{
  font-size: 20px;
  margin: auto;
  padding: 0;
}
.controlGrid{
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(3, 60px);
  width: 300px;
  height: 180px;
}
.item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item3{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.item5{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item6{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item7{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item8{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
.item{
  margin: 5px;
  padding: 10px;
  background-color: #707074;
  border-radius: 4px;
}
.controlIcon{
  font-size: 30px;
}
.house{
  background-color: #2196F3;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}