.filesNoDivider{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #fileName{
    margin-left: 10px;
  }